fastapi==0.115.0
uvicorn==0.30.1
streamlit==1.38.0
langchain==0.2.16
langchain-core==0.2.36
langchain-community==0.2.12
langchain-groq
langchain-qdrant>=1.1.0
qdrant-client==1.9.1
sentence-transformers==3.0.1
python-dotenv==1.0.1
firebase-admin==6.5.0
tiktoken==0.7.0
requests==2.32.3
tiktoken
openai
pandas
python-dotenv
pyyaml

